*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

p
{
  font-family: Sora;
}


img:hover
{
  cursor: pointer;
}
a:hover
{
  cursor: pointer;
}




img {
  border: solid 2px transparent;
  opacity: 0.7;
}

img:hover {
  transition-delay: 50ms;
  border-color: #F0FF00;
}

.poster:hover
{
  transition-delay: 50ms;
  opacity: 1;

}

.button-pg
{
  font-family: Sora;
  background-color: yellow;
  
}







.header
{
  background-color: #7B28FC;
}

body
{
  background-color: #0d021d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232c2c2c' fill-opacity='0.43' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}


.site
{
    background-color: #7B28FC;
}

.site2
{
    background-color: #F6E328;
}

.stitle
{
  font-family: Sora;
  text-decoration: underline;
  text-decoration-color: #F6E328;
  
}

.title
{
  text-decoration: underline;
  text-decoration-color: #7A0CFE;
  
  font-family: Sora;
}

/*modal*/


.modal-overlay
{
    width: 100%;
    height: 100%;
    background-color: #faffbb;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%237132d6' fill-opacity='0.11'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

}
.modal-overlay img
{
  opacity: 1;
  height: 40%;
  border-radius: 4px;
  border-color: #7A0CFE ;
 

}

.modal-overlay.active
{
    opacity: 1;
    visibility: visible;
}

.modal-title
{
  font-family: Sora;
  text-decoration: underline;
  text-decoration-color: #7A0CFE;
  
}


.modal-button
{
  background-color: #7A0CFE;
  font-family: Sora;
}

.sinopse
{
  overflow: scroll;
}
