/*css antes de implementar o tailwind*/


*
{
    margin: 0.8% 1%;
    padding: 0;
    text-decoration: none;
    border: none;
}

button
{
    cursor: pointer;
    
}

a
{
    cursor: pointer;
}

header .boxheader
{
    display: flex;
    justify-content: space-between;

    
    
}

header nav
{
    display: flex; 
    flex: 1;   
    
}

nav .links
{
   display: flex;  
   min-width: 100%;
   justify-content: flex-end;
   gap: 50px;
  
}

.fonteheader
{
   
   align-self: center;
   text-align: center;
   


   font-family: Josefin Sans;
   font-weight: normal;
   color: black;
   font-size: 16px;
}


header .bheader
{
    color: #FFFFFF!important;
    background-color: #2D635E;
    text-align: center;
    height: 43px;
    width: 135px;
    border-radius: 7px;
    box-shadow: 5px 7px 10px
    rgba(0, 0, 0, 0.1);

}





 