


.fonteheader
{  
   align-self: center;
   text-align: center;
   
   

   font-family: Josefin Sans;
   font-weight: bold;
   color: black;
   font-size: 3.3rem;
}

.bheader
{
    font-family: Josefin Sans;
    font-size: 3.3rem;
    color: #FFFFFF!important;
    background-color: #2D635E;
    text-align: center;
    height: 43px;
    width: 135px;
    padding: 0.45rem 1rem ;
    border-radius: 7px;
    box-shadow: 5px 7px 10px
    rgba(0, 0, 0, 0.1);
}

.bheader:focus
{
    outline: none;
}


@media (min-width:1024px)
{.top-navbar
    {
        display: inline-flex!important;
       
    }
    

}



.bdiv1
{
    font-family: Josefin Sans;
    color: #FFFFFF!important;
    background-color: #2D635E;
    text-align: center;
    border-radius: 7px;
    padding: 0.65rem 2.7rem

}

.title
{
    font-family: Josefin Sans;
    
}

.alt-title
{
    font-family: "Cedarville Cursive";
}

.text
{
    font-family: alegreya Sans;
    color: #444A4A;
}

.followus
{
    font-family: Josefin Sans;
    color: #444A4A;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    
    
}

.bg
{
    background-color: #E3EBE7;
    ;
}

.bg2
{
    background-color: white;
    min-height: 458px;
    border-radius: 25px;
    
}

.bdiv4
{
    color: #444A4A;
    font-family: Josefin Sans;
    border-radius: 5px;
    padding: 0.8rem 2.7rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);

}


.bdiv3
{
    font-family: Josefin Sans;
    color: #FFFFFF!important;
    background-color: #2D635E;
    
    border-radius: 7px;
    padding: 0.8rem 2rem;
    white-space: nowrap
    

}

